
img{
    padding-left: 5px;
    padding-right: 5px;
    padding-top: -5px;
    margin: auto;
    width: 100%;
    height: auto;
    border-radius: 15px;
}



#title {
    font-size: 48px;
}
/*  FEATURED DOCUMENT  /
#feature{
    height:475px;
    overflow:hidden;
    overflow-y: scroll;
} 

/**/
.feature article{
    padding: 20px;
    border-radius: 15px;
    border: 2px solid #000000;
}

.feature img{
    max-height: 250px;
}

.feature h1{
    font-size: 24px;
    padding-left: 7px;
}

.feature p{
    font-size: 14px;
}

.feature br{
    margin-top: 7px;
}


/*  OTHER DOCUMENT  /
#other{
    overflow:hidden;
    overflow-y: scroll;
    height:475px;
} 
/**/
.other article{
    padding: 20px;
    border-radius: 15px;
    border: 2px solid #000000;
}

.other h1{
    font-size: 16px;
    padding-left: 7px;
}

.other p{
    font-size: 11px;
}

.other br{
    margin-top: 7px;
}


.blurb p{
    padding-left: 7px;
}
